* {
  margin: 0;
  padding: 0;
  color: rgb(73, 4, 4);
}

@font-face {
  font-family: "FixedSys";
  src: url("../fonts/Fixedsys.ttf") format("ttf");
}

h2 {
  margin-bottom: 25px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "FixedSys";
  background-color: darkgoldenrod;
  width: 100vw;
  height: 10vh;
}

.headingMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headingButton {
  margin: 20px;
  outline: none;
  width: 100px;
  height: 30px;
  border: 2px solid rgb(73, 4, 4);
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.headingButton:hover {
  background: transparent;
  color: rgb(73, 4, 4);
}
.headingButton span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.headingButton:before,
.headingButton:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgb(73, 4, 4);
  transition: all 0.3s ease;
}
.headingButton:before {
  height: 0%;
  width: 2px;
}
.headingButton:after {
  width: 0%;
  height: 2px;
}
.headingButton:hover:before {
  height: 100%;
}
.headingButton:hover:after {
  width: 100%;
}
.headingButton span:before,
.headingButton span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgb(73, 4, 4);
  transition: all 0.3s ease;
}
.headingButton span:before {
  width: 2px;
  height: 0%;
}
.headingButton span:after {
  width: 0%;
  height: 2px;
}
.headingButton span:hover:before {
  height: 100%;
}
.headingButton span:hover:after {
  width: 100%;
}

.main {
  background-color: #b86e03;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeMessage {
  margin: 20px;
}

.moreText {
  padding: 20px;
  width: 25%;
  text-align: center;
}

.menuHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.onTap {
  width: 80%;
  text-align: center;
  overflow-wrap: break-word;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 70%;
}

.menucard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 180px;
  min-height: 120px;
  margin: 10px;
  padding: 15px;
  background-color: darkgoldenrod;
}

.dishDescription {
  font-size: 15px;
  margin-top: 8px;
  overflow-wrap: break-word;
}

.iFrame {
  width: 70%;
  height: 55%;
}

.dontCallUs {
  padding-top: 50px;
  width: 40%;
  text-align: center;
  overflow-wrap: break-word;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: darkgoldenrod;
}
